<section class="cart py-16 ">

    <div class="order container mx-auto w-1/2">
        <div class="flex item-center border-b border-gray-300 pb-4" >
            <img src="/img/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl"> order summary</h1>
        </div>

        <div class="pizza-list">

            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="">
                <div class= "flex-1 ml-4">
                    <h1>magsg</h1>
                    <span>medium</span>
                </div>

                <span class="flex-1"> 1 pcs</span>
                <span class="font-bold text-lg">rs 300</span>
            </div>

            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="">
                <div class= "flex-1 ml-4">
                    <h1>magsg</h1>
                    <span>medium</span>
                </div>

                <span class="flex-1"> 1 pcs</span>
                <span class="font-bold text-lg">rs 300</span>
            </div>

            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="">
                <div class= "flex-1 ml-4">
                    <h1>magsg</h1>
                    <span>medium</span>
                </div>

                <span class="flex-1"> 1 pcs</span>
                <span class="font-bold text-lg ml-2">₹300</span>
            </div>

        </div>

        <hr>

        <div class="text-right py-4 mb-4">
            <div class="mb-4" >
                <span class="text-lg font-bold">total ammount</span>
                <span class="ammount text-2xl font-bold " >₹400</span>
            </div>

            <div>
                <form action=""  class="mt-12">
                    <input class="border border-gray-400 p-2 w-1/2 mb-4" placeholder="Phone Number"  type="text">
                    <input class="border border-gray-400 p-2 w-1/2" placeholder="Address"  type="text">
                    <div>
                        <button class="btn-primary rounded-full font-bold px-6 py-2 mt-6 text-white" type="submit" >order now</button>
                    </div>
                </form>
            </div>

            <!-- <a href="" class="btn-primary inline-block px-6 py-2 rounded-full text-white mt-6 cursor-pointer">login to coninue</a> -->

        </div>



    </div>









    <!-- <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
    
            <h1 class="text-3xl font-bold mb-2">Cart Empty</h1>
            <p class="capitalize text-gray-500 text-lg mb-12" >
                you probably haven't ordered a pizza yet. <br>
                to order a pizza , go to main page.
    
                <img  class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="">
                <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">go back</a>
            </p>
    
    
        </div>
    </div> -->
</section>